@media screen and (max-width: 768px) {
  .fascia1 {
  }

  .header-links {
    padding-top: 20px;
    width: 100%;
    padding-top: 30px;
  }

  .header-link {
    padding: 0;
  }

  .tendina {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .menu {
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .menu :hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 0%;
  }

  .socials {
    display: none;
  }

  .fascia2 {
    flex-direction: column;
  }
  .testo1 {
    padding: 0;
  }

  .flex {
    flex-direction: column;
  }

  .testo2 {
    margin: 0;
  }

  .headband {
    flex-direction: column;
  }

  .banda1 {
    flex-direction: column;
  }

  .banda2 {
    flex-direction: column;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  .image1 img {
    width: 100px;
  }

  .image2 {
    padding: 0;
  }
}
