html,
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.font-title {
  font-family: "Lexend Mega", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.header-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-link {
  padding: 25px;
  text-decoration: none;
}

.home {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.home :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  border: none;
  padding: 5px;
}

.palestra {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.palestra :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}

.iscrizione {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.iscrizione :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}

.orari {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.orari :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}

.presentazione {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.presentazione :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}

.contatti {
  text-decoration: none;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

.contatti :hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}

.social-cell {
  color: white;
}

.social-cell :hover {
  color: black;
  background-color: #9c9c9c;
}

.menu {
  display: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo .titolo1 {
  margin-left: 20px;
  display: block;
}

.socials {
  display: flex;
}

.socials a img {
  height: 50px;
}

.fascia1 {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  border: white;
  border-bottom-style: solid;
  border-width: 5px;
}
.immagine1 {
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.immagine1 img {
  height: 100%;
  width: auto;
}

.titolo1 {
  text-align: center;
  color: white;
  top: 18px;
}

.fascia2 {
  background-color: gray;
  padding: 30px;
}

.testo1 {
  padding: 0 40px;
}

.immagine4 {
  border-radius: 5px;
  overflow: hidden;
}

.immagine5 {
  height: 230px;
}

.immagine5 img {
  height: 100%;
  width: auto;
}

.immagine6 {
  height: 300px;
}

.immagine6 img {
  height: 100%;
  width: auto;
}

.fascia3 {
  background-color: #9c9c9c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.immagine7 {
  height: 200px;
}

.immagine7 img {
  height: 100%;
  width: auto;
}

.testo2 {
  border-color: gray;
  border-left-style: solid;
  border-width: 6px;
  padding-left: 15px;
  padding-right: 60px;
}

.orario {
  width: 80px;
  height: 30px;
  background-color: black;
  top: 90px;
  left: 610px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.luogo {
  width: 150px;
  height: 30px;
  background-color: black;
  top: 90px;
  right: 500px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.iscrizione {
  width: 70px;
  height: 30px;
  background-color: black;
  top: 90px;
  right: 415px;
}

.covid-19 {
  width: 140px;
  height: 30px;
  background-color: black;
  top: 90px;
  right: 260px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.coloretext1 {
  color: white;
}

.coloretext2 {
  color: white;
}

.coloretext3 {
  color: white;
}

.coloretext4 {
  color: white;
}

.coloretext5 {
  color: white;
  padding-left: 10px;
}

.headband {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

._orari_ {
  background-color: black;
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}

.headband2 {
  background-color: gray;
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.text1 {
  border-left-style: double;
  border-width: 5px;
  border-color: black;
  padding-left: 15px;
  padding-right: 60px;
}

.headband3 {
  background-color: #9c9c9c;
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.text2 {
  border-left-style: double;
  border-width: 5px;
  border-color: black;
  padding-left: 15px;
}

.headband4 {
  background-color: gray;
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.text3 {
  border-left-style: double;
  border-width: 5px;
  border-color: black;
  padding-left: 15px;
  padding-right: 60px;
}

.headband5 {
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
}

.social {
  min-height: 300px;
  display: flex;
  flex-direction: row;
}

.youtube {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.title {
  color: white;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.orarilezioni {
  color: white;
  margin-top: 50px;
}

.image1 {
  display: flex;
  object-fit: cover;
  box-shadow: 0 0 15px black;
}

.image1 img {
  height: 300px;
  margin: 0;
  display: block;
}

.image2 {
  padding-right: 60px;
}

.txtI {
  color: white;
  text-align: center;
}

.banda1 {
  min-height: 320px;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.bordtext {
  border-left-style: solid;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.712);
  padding-left: 15px;
}

.mask {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
}

.banda2 {
  background-color: #808080;
  border-top: black;
  border-top-style: solid;
  border-width: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.bordertext1 {
  border-left-style: solid;
  border-width: 5px;
  border-color: black;
  padding-left: 15px;
}

.tex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.luogotampone {
  border-style: solid;
  border-width: 7px;
  border-color: black;
}

.interagire {
  min-height: 320px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bandacommenti {
  margin: auto;
}

.titledimo {
  min-height: 350px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 10%;
  overflow: hidden;
  border-color: #808080;
  border-width: 3px;
  border-style: solid;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contatti {
  background-color: black;
  width: 100%;
  height: 300px;
}
